{% extends 'myapp/base.html' %}
{% block content %}
{% if validlink %}
<p>Пожалуйста, введите (и повторите) ваш новый пароль.</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Новый пароль:</label>
            </td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Повторите пароль:</label>
            </td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Изменить мой пароль"/></td>
        </tr>
    </table>
</form>
{% else %}
<h1>Password reset failed</h1>
<p>
    Ссылка для сброса пароля была недействительной, возможно потому, что она уже
    использовалась. Пожалуйста, сбросьте пароль ещё раз.
</p>
{% endif %}
{% endblock %}